<h1>Tasks</h1>
<%= link_to "add new task", new_task_path %>

<ul>
  <% @task.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task.id) %>
      <%= task.name %>
      <%= task.description %>
      <%= link_to "Edit", edit_task_path(task.id) %>
      <%= link_to "Delete", task_path(task),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </li>
</ul>
<% end %>
